# Основные файлы и каталоги, которые следует игнорировать

# Системные файлы
.DS_Store
Thumbs.db

# Виртуальное окружение
venv/
.env/
*.env

# База данных SQLite
db.sqlite3

# Файлы логов
*.log

# Файлы и директории, созданные Django
__pycache__/
*.pyc
*.pyo

# Папки для медиаданных (например, загруженные файлы)
media/



# Папки для временных файлов, которые генерируются
*.bak
*.swp

# Папки для секретных ключей и конфиденциальных данных
secrets/

# Папки и файлы с настройками
*.pyc
*.pyo
*.pyd